@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-background);
}

.title_main {
  color: var(--white-main);
  font-family: var(--font-inter);
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.main {
  background-image: url("/assets/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.content__main {
  margin: 7.8rem 0px 3.1rem 5.75rem;
  max-width: 588px;
}

.content__combo {
  margin: 1.37rem 0 3.37rem 0;
}

.links {
  display: block;
  text-decoration: none;
  font-family: var(--font-inter);
  text-align: center;
  color: var(--white-main);
  padding: 1em;
  font-size: 16px;
  border-radius: 5px;
}

.link__btn__plus {
  background-color: var(--btn-blue);
}

.link__btn__alu {
  background-color: transparent;
  margin-top: 1rem;
  border: 1px white solid;
}

.link__p {
  width: 512px;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: var(--gray-secund);
  font-family: var(--font-inter);
}

.content_secund {
  width: 80%;
}

.secund {
  align-items: center;
  margin: 0 10em;
}

.container__title {
  color: var(--white-main);
  font-size: 48px;
  font-weight: 700;
  font-family: var(--font-inter);
  margin-bottom: 0.2em;
}

.description__title {
  color: var(--gray-secund);
  font-family: var(--font-inter);
}

.description__title__three {
  color: var(--gray-secund);
  font-family: var(--font-inter);
  padding-right: 10em;
}
.lin {
  display: inline-block;
  margin-top: 16px;
}

.dispositivos {
  text-align: center;
}

.dispositivos__title {
  color: var(--white-main);
  font-size: 48px;
  font-family: var(--font-inter);
  font-weight: 700;
}

.dispositivos__list {
  display: flex;
  justify-content: center;
  gap: 5em;
  list-style-type: none;
  margin: 5em 0;
}

.list_item {
  color: var(--white-main);
  font-size: 32px;
  font-family: var(--font-inter);
  font-weight: 700;
}
